@model WineShop.Models.Views.ModelLogin
<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Récupération de mot de passe</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">Accueil</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="account-orders.html">Compte</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Récupération du mot de passe</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2>Mot de passe oublié ?</h2>
            <p>Changer votre mot de passe en 3 étapes.</p>
            <ol class="list-unstyled">
                <li><span class="text-primary text-medium">1. </span>Entrez votre E-Mail.</li>
                <li><span class="text-primary text-medium">2. </span>Nous vous envoyons un mot de passe temporaire.</li>
                <li><span class="text-primary text-medium">3. </span>Utiliser le mot de passe temporaire pour changer votre mot de passe.</li>
            </ol>
            @using (Html.BeginForm("PasswordRecovery", "Post", FormMethod.Post, new { @class = "card mt-4" }))
            {
                <div class="card-body">
                    <div class="form-group">
                        <label for="email-for-pass">Entrer votre E-Mail</label>
                        @Html.TextBoxFor(Model => Model.Email, new { id = "email-for-pass", @type = "email", @required = "required", @class = "form-control" })<small class="form-text text-muted">Ecrivez l'E-Mail que vous avez utiliser lors de votre inscription.</small>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Recevoir un nouveau mot de passe</button>
                </div>
            }
        </div>
    </div>
</div>
